p, h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

html, body {
  height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  margin: 0px; }

button {
  cursor: pointer; }

.main-content {
  display: flex; }

.side-nav {
  width: 200px;
  background-color: #414A57;
  padding-top: 20px;
  height: calc(100vh - 20px); }
  .side-nav .logo {
    display: flex;
    margin-bottom: 40px;
    padding-left: 15px; }
    .side-nav .logo img {
      margin-right: 15px; }
    .side-nav .logo h2 {
      font-size: 18px;
      color: white; }
  .side-nav .nav-items ul {
    list-style: none;
    padding: 0px; }
    .side-nav .nav-items ul li {
      position: relative;
      padding-left: 15px;
      border-width: 6px;
      border-style: solid;
      border-right: none;
      border-top: none;
      border-bottom: none;
      border-color: transparent; }
      .side-nav .nav-items ul li img {
        margin-right: 25px; }
      .side-nav .nav-items ul li a {
        display: flex;
        color: white;
        align-items: center;
        height: 52px; }
        .side-nav .nav-items ul li a span {
          position: absolute;
          left: 51px; }
      .side-nav .nav-items ul li.active {
        background-color: #2D3440; }
      .side-nav .nav-items ul li:nth-child(1).active {
        border-image: linear-gradient(to bottom, #7D3884, #DF6B68) 1 100%; }
      .side-nav .nav-items ul li:nth-child(2).active {
        border-image: linear-gradient(to bottom, #1EE7DD, #61A0C5) 1 100%; }
      .side-nav .nav-items ul li:nth-child(3).active {
        border-image: linear-gradient(to bottom, #FE6AAC, #FE8812) 1 100%; }
      .side-nav .nav-items ul li:nth-child(4).active {
        border-image: linear-gradient(to bottom, #7087D7, #4CC2F0) 1 100%; }
      .side-nav .nav-items ul li:nth-child(5).active {
        border-image: linear-gradient(to bottom, #FA7497, #FFD845) 1 100%; }
      .side-nav .nav-items ul li:nth-child(6).active {
        border-image: linear-gradient(to bottom, #6BE1A7, #5CB6B5) 1 100%; }

.schedule-view {
  width: calc(100% - 200px);
  display: flex; }

.calendar-wrapper {
  width: 100%;
  padding: 0px 15px 0px 15px; }
  .calendar-wrapper .calendar {
    height: 100vh;
    width: 100%; }
    .calendar-wrapper .calendar .calendar-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px; }
      .calendar-wrapper .calendar .calendar-toolbar .month-area {
        display: flex;
        align-items: flex-end; }
        .calendar-wrapper .calendar .calendar-toolbar .month-area button {
          background-color: transparent;
          border-radius: 3px;
          box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.19);
          border: none;
          height: 20px; }
          .calendar-wrapper .calendar .calendar-toolbar .month-area button img {
            padding-top: 2px;
            width: 6px; }
          .calendar-wrapper .calendar .calendar-toolbar .month-area button:first-child img {
            transform: translateX(-13%) translateY(13%) rotate(-180deg); }
        .calendar-wrapper .calendar .calendar-toolbar .month-area .month-label {
          display: block;
          padding: 0 20px;
          min-width: 121px;
          font-size: 18px; }
      .calendar-wrapper .calendar .calendar-toolbar .view-area {
        display: flex; }
        .calendar-wrapper .calendar .calendar-toolbar .view-area button {
          border: 2px solid #DADEE3;
          color: #DADEE3;
          height: 30px;
          font-size: 14px; }
        .calendar-wrapper .calendar .calendar-toolbar .view-area .view-switcher {
          display: flex;
          margin-right: 20px; }
          .calendar-wrapper .calendar .calendar-toolbar .view-area .view-switcher button {
            min-width: 70px; }
            .calendar-wrapper .calendar .calendar-toolbar .view-area .view-switcher button:first-child {
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
              border-right: none; }
            .calendar-wrapper .calendar .calendar-toolbar .view-area .view-switcher button:last-child {
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
              border-left: none; }
        .calendar-wrapper .calendar .calendar-toolbar .view-area .reset-day {
          border-radius: 4px;
          min-width: 80px; }
      .calendar-wrapper .calendar .calendar-toolbar .rbc-active {
        background-color: #DADEE3;
        color: white !important; }
    .calendar-wrapper .calendar .rbc-month-view {
      border-top: none;
      border-left: none;
      border-right: none; }
      .calendar-wrapper .calendar .rbc-month-view .rbc-header {
        border: none;
        margin-bottom: 10px; }
      .calendar-wrapper .calendar .rbc-month-view .rbc-header + .rbc-header {
        border-left: none; }
      .calendar-wrapper .calendar .rbc-month-view .rbc-day-bg:first-child {
        border-left: 1px solid #DDD; }
      .calendar-wrapper .calendar .rbc-month-view .rbc-day-bg:last-child {
        border-right: 1px solid #DDD; }
      .calendar-wrapper .calendar .rbc-month-view .rbc-month-row:nth-child(2) {
        border-top: 1px solid #DDD; }

.side-calendar {
  width: 310px;
  background-color: #F5F6FA;
  height: 100vh; }
