html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

p, h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

html,body,#root,.main-content {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
}

button {
  cursor: pointer;
}

a, .btn {
  text-decoration: none;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 0px;
  background-image: linear-gradient(90deg, #DF6B68 0%,  #7D3884 100%);
  font-size: 14px;
  color: white;
  height: 30px;
  min-width: 106px;
  border: none;
  border-radius: 4px;
  img {
    width: 11px;
    align-items: center;
    margin-right: 8px;
    margin-left: 3px;
  }
  &:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.25);
  }
}

.second-btn {
  background-image: none;
  color: #333;
  font-weight: 500;
  border: 1px solid #C2CAD6;
  justify-content: center;
  &:hover {
    box-shadow: none;
  }
}

.btn-success {
  border: 1px solid #4bc074;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #4bc074; 
    color: white;
  }
}

.btn-cancel {
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #C2CAD6; 
    color: white;
  }
}

.btn-delete {
  border: 1px solid#ff2f2f;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: #ff2f2f; 
    color: white;
  }
}

.panel {
  border-collapse: collapse;
  .header {
    width: 100%;
    background-color: #E2E8EC; 
    display: flex;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 6px 6px 6px 14px;
    h2 {
      color: #90969D;
      font-size: 14px;
    }
  }
  tr.header {
    display: table-row;
    h2 {
      margin: 0px;
    }
    th {
      text-align: left;
      padding: 6px 6px 6px 14px;
      &:first-child {
        border-top-left-radius: 4px;
      }
      &:last-child {
        border-top-right-radius: 4px;
      }
    }
  }
  .panel-body {
    border: 1px solid #eaeded;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0px;
  }
}


.main-content {
  display: flex;
  overflow: hidden;
}

.page-view {
  position: relative;
  width: calc(100% - 200px);
  box-shadow: 0px 0px 37px 1px rgba(0, 0, 0, 0.35);
  overflow: scroll;
  .page-body {
    position: relative;
    .tab-btn-group {
      display: flex;
      position: absolute;
      right: 20px;
      top: 2px;
      * {
        justify-content: center;
        margin-right: 15px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 30px;
  h1 {
    font-size: 24px;
    margin-left: 20px;
  }
  .btn {
    margin-right: 20px;
  }
  .tab-btn-group {
    display: flex;
    position: absolute;
    right: 20px;
    * {
      justify-content: center;
      margin-right: 15px;
    }
    *:last-child {
      margin-right: 0px; 
    }
  }
}

.side-nav {
  width: 200px;
  background-color: #414A57;
  padding-top: 25px;
  height: 100%;
  .logo {
    display: flex;
    margin-bottom: 30px;
    padding-left: 15px;
    img {
      margin-right: 15px;
    }
    h2 {
      font-size: 18px;
      color: white;
    }
  }

  .nav-items {
    ul {
      list-style: none;
      padding: 0px;
      li {
        position: relative;
        img {
          margin-right: 25px;
        }
        a {
          display: flex;
          color: white;
          align-items: center;
          padding-left: 15px;
          height: 52px;
          border-width: 6px;
          border-style: solid;
          border-right: none;
          border-top: none;
          border-bottom: none;
          border-color: transparent;
          transition: background-color 0.2s ease;
          span {
            position: absolute;
            left: 51px;
          }
          &:hover {
            background-color: #394251;
          }
          &.active {
            background-color: #2D3440;
          }
        }
        &:nth-child(1) a.active {
          border-image:linear-gradient(to bottom,#7D3884, #DF6B68) 1 100%;
        }
        &:nth-child(2) a.active {
          border-image:linear-gradient(to bottom,#1EE7DD, #61A0C5) 1 100%;
        }
        &:nth-child(3) a.active {
          border-image:linear-gradient(to bottom,#FE6AAC, #FE8812) 1 100%;
        }
        &:nth-child(4) a.active {
          border-image:linear-gradient(to bottom,#7087D7, #4CC2F0) 1 100%;
        }
        &:nth-child(5) a.active {
          border-image:linear-gradient(to bottom,#FA7497, #FFD845) 1 100%;
        }
        &:nth-child(6) a.active {
          border-image:linear-gradient(to bottom,#6BE1A7, #5CB6B5) 1 100%;
        }
      } 
    }
  }
}


.schedule-view {
  display: flex;
}
.calendar-wrapper {
  width: 100%;
  padding: 0px 15px 0px 15px;
  .calendar {
    height: 100vh;
    width: 100%;
    .calendar-toolbar {
      display:flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px;
      .month-area {
        display: flex;
        align-items: flex-end;
        button{
          background-color: transparent;
          border-radius: 3px;
          box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.19);
          border: none;
          height: 20px;
          &:hover {
            transition: box-shadow 0.1s ease;
            box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.22);
          }
          img {
            padding-top: 2px;
            width: 6px;
          }
          &:first-child {
            img {
              transform: translateX(-13%) translateY(13%) rotate(-180deg);
            }
          }
        }
        .month-label {
          display: block;
          padding: 0 20px;
          min-width: 121px;
          font-size: 18px;
        }
      }
      .view-area {
        display:flex;
        button {
          border: 2px solid #DADEE3;
          color:#DADEE3; 
          height: 30px;
          font-size: 14px;
          background-color: white;
        }
        .view-switcher {
          display: flex;
          margin-right: 20px;
          transition: box-shadow 0.3s ease;
                
          &:hover {
            box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
          }
          button {
            min-width: 70px;
            &:first-child {
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
              border-right: none;
            }
            &:last-child {
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
              border-left: none;
            }
          }
        }
        .reset-day {
          border-radius: 4px;
          min-width: 80px;
          &:hover {
            transition: box-shadow 0.3s ease;
            box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
          }
        }
      }
      .rbc-active {
        background-color:#DADEE3 !important;
        color: white !important;
      }
    }
    .rbc-today {
      background-color: #de6a671c;
    }
    .rbc-month-view {
      border-top: none;
      border-left: none;
      border-right: none;
      .rbc-header {
        border: none;
        margin-bottom: 10px;
      }
      .rbc-header + .rbc-header {
        border-left: none;
      }
      .rbc-day-bg {
        &:first-child {
          border-left: 1px solid #DDD;
        }
        &:last-child {
          border-right: 1px solid #DDD;
        }
      }
      .rbc-month-row {
        &:nth-child(2) {
          border-top: 1px solid #DDD;
        }
      }
    }
  }
}

.side-area {
  width: 310px;
  background-color:#F5F6FA;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.17);
}

.side-calendar {
  .side-header {
    padding-top: 21px;
    margin-bottom: 20px;
  }
  .job-btn {
    background-image: linear-gradient(90deg, #DF6B68 0%,  #7D3884 100%);
  }
}

.react-datepicker-popper {
  z-index: 2;
}
.react-datepicker__day--highlighted {
  background-color: #3174ad;
  &:hover {
    background-color: #265985;
  }
}
.react-datepicker {
  background-color: #f3f5f9;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.15);
  border-radius: 4px;
  &.in-line {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }
  .react-datepicker__navigation {
    background-image: url('../images/grey-chevron.svg');
    background-size: 5.75px 10.75px;
    width: 5.75px;
    height: 10.75px;
    border: none;
    margin-right: 40px;
    &.react-datepicker__navigation--previous {
      transform: translateX(-13%) translateY(13%) rotate(-180deg);
      margin-left: 40px;
    }
  }
  .react-datepicker__header {
    background-color: transparent;
  }

  .react-datepicker__month {
    .react-datepicker__week:nth-child(even) {
      background-color: #edeff5;
      border-radius: 36px;
    }
  }
}

.time-range-picker {
  margin-top: -8px !important;
  .react-datepicker__navigation--next {
    margin-right: 56px;
  }
  .react-datepicker__time-container {
    width: 100px;
  }
  .react-datepicker__time-list {
    padding: 0px;
  }
}

.notes-view {

  .notes-btn {
    background-image: linear-gradient(90deg, #1EE7DD 0%,  #61A0C5 100%);
  }
}

.notes-list-wrapper {
  padding: 0px 20px;
}
.notes-list {
  .header {
    h2 {
      &:first-child {
        width: 83%;
      }
    }
  }
  .sort-group {
    .month-group {
      background-color: #C9D1DA; 
      padding: 6px 6px 6px 14px;
      span {
        display: block;
        font-size: 14px;
        color: white;
      }
    }
    .group-body {
      .note {
        display: flex;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #c5c7c8;
        color: black;
        &:hover {
          background-color: #F6F8FA;
        }
        &:last-child {
          border-bottom: none;
        }
        .note-left {
          width: 80%;
          margin:0px 10px;
          display: flex;
          justify-content: space-between;
          .note-text {
            margin-right: 20px;
          }
          .note-title {
            font-weight: bold;
            margin-bottom: 10px;
          }
        }
        .note-right {
          .note-created {
            margin-left: 10px;
            span {
              display: block;
              &:first-child {
                font-weight: bold;
              }
            }
          }
        }
      }
      .note-img {
        margin-right: 30px;
        img {
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}


.react-tabs {
  .react-tabs__tab-list {
    border-color: #E1E3E7;
    margin: 0px;
    .react-tabs__tab {
      margin-right: 10px;
      height: 44px;
      padding-top: 9px;
      &:first-child {
        margin-left: 20px;
      }
      &.react-tabs__tab--selected {
        border-color: #E1E3E7;
        background-color: #F5F6FA;
        color: #FE8812;
        &:after {
          content: none;
        }
      }
    }
  }
  .react-tabs__tab-panel--selected {
    display: block;
    background-color: #F5F6FA;
    height: calc(100vh - 120px);
    padding: 20px 30px;
  } 
  &.alt {
    .react-tabs__tab-list {
      .react-tabs__tab {
        &:focus:after {
          content: none;
        }
        &:focus {
          box-shadow: none;
        }
        &.react-tabs__tab--selected {
          border: none;
          border-bottom: 3px solid;
        }
      }
    }
  }
}

.person-view {
  .map {
    width: 100%;
    margin-top: 21px;
    height: 319px;
  }
  .tab-header {
    margin-bottom: 20px;
    a {
      display: flex;
      align-items: center;
      color: #7D3884;
      span {
        margin-right: 5px;
        font-size: 18px;
      }
      h2 {
        font-size: 18px;
      }
    }
    &.notes {
      a {
        color: #61A0C5;
      }
    }
    &.invoices {
      a {
        color: #7087D7;
      }
    }
  }
  .panel {
    width: 100%;
    .panel-body {
      tr {
        background-color: #F6F8FA;
        border-bottom: 1px solid #dfe4ea;
        td {
          padding: 15px;
          a {
            color: #7D3884;
          }
        }
        &:nth-child(even) {
          background-color: #fff;
        }
      }
    }
    &.invoices {
      .header th:nth-child(1) {
        width: 1%;
      }
      .panel-body tr td a {
        color: black ;
      }
    }
  }
}

.customer-view {
  .customer-btn {
    background-image: linear-gradient(90deg, #FE6AAC 0%, #FE8812 100%);
  }
  .customer-list-wrapper {
    padding: 0px 20px;
  }
  .panel {
    width: 100%;
    .panel-body {
      tr {
        background-color: #F6F8FA;
        border-bottom: 1px solid #dfe4ea;
        td {
          padding: 15px;
          a {
            color: #fe8812;
          }
        }
        &:nth-child(even) {
          background-color: #fff;
        }
      }
    }
  }
}

label {
  display: block;
  margin-bottom: 6px;
  color: #747f91;
  font-size: 14px;
  font-weight: bold;
}
form {
  input,select,.Select-control, textarea {
    height: 34px;
    padding: 10px 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    width: 100%;
    margin-bottom: 15px;
    &[disabled] {
      background-color: #eee;
      cursor: not-allowed;
    }
  }
  .Select-control {
    height: 46px;
    padding: 0px !important;
    .Select-input {
      height: 0px;
      input {
        height: 0px;
      }
    }
  }
  .Select-menu-outer {
    z-index: 2;
  }
  .input-group {
    margin-bottom: 15px;
  }
  .row {
    display: flex;
  }
  .col-1 {
    input {
      display: block;
      margin-bottom: 15px;
    }
  }
  .col-2 {
    display: flex;
    // align-items: flex-end;
    > div  {
      &:first-child {
        margin-right: 20px;
        width: 50%;
      }
      &:last-child {
        width: 50%;
      }
    }
  }
  .col-80 {
    > div {
      &:first-child {
        margin-right: 20px;
        width: 80%;
      }
    }
  }
  .with-map {
    align-items: end;
  }
  .react-datepicker {
    margin-top: -23px;
    .react-datepicker__triangle {
      display: none;
    }
  }

  &.person-form {
    max-width: 1080px;
  }
}


.new-invoice-view {
  label {
    font-size: 14px;
    color: #333;
  }
  input,select,.Select-control {
    height: 34px;
    font-size: 14px;
    padding-top: 9px;
    padding-left: 9px;
  }
  .page-header {
    height: 68px;
    h1 {
      font-size: 36px;
      margin-left: 40px;
    }
    .btn {
      margin-right: 40px;
    }
  }
  .page-body {
    background-color: #F5F6FA;
    height: calc(100% - 75px);
  }
  .invoice-header {
    padding: 40px;
    display: flex;
    justify-content: space-between;
  }
  .invoice-header-inputs {
    width: 60%;
    .invoice-meta {
      display: flex;
      > div {
        margin-right: 10px;
        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }
  .invoice-total {
    label {
      text-align: right;
    }
    h2 {
      font-size: 36px;
      color: #4CC2F0;
    }
  }
  .react-tabs.alt {
    .react-tabs__tab-list {
      height: 37px;
      .react-tabs__tab {
        &.react-tabs__tab--selected {
          color: #4CC2F0;
          height: 35px;
        }
      }
    }
  }
  .panel {
    width: 100%;
    margin-bottom: 40px;
    .line-item {
      height: 54px;
      background-color: #fafafa;
      border-bottom: 1px solid #dfe4ea;
      input{
        height: 34px;
        font-size: 14px;
        padding-top: 0px;
        border: 1px solid #ccc;
        border-radius: 6px;
        width: 100%;
        box-sizing: border-box;
        padding-right: 9px;
      }
      .Select {
        height: 34px;
        .Select-control {
          height: 34px;
          padding-top: 0px;
          .Select-input {
            height: 30px;
            input {
              height: 0px;
              border: 0px;
            }
          }
        }
      }
      td {
        &:first-child {
          width: 30%;
          input {
            border-radius: 0px;
          }
        }
        &:nth-child(n + 2) {
          width: 10%;
          input {
            text-align: right;
          }
        }
      }
      .line-total {
        display: flex;
        justify-content: space-between;
        padding-right: 20px;
        img {
          cursor: pointer;
        }
      }
    }
    td {
      vertical-align: middle;
      padding: 15px 10px;
    }
    .new-line-item  {
      background-color: white;
      color: #4CC2F0;
      font-size: 14px;
      cursor: pointer;
    }

  }
  .invoice-footer {
    h5 {
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  textarea {
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 150px;
    width: 50%;
  }
}

.map-view {
  position: relative;
  .map {
    height: 100vh;
    width: 100%;
  }
  .side-area {
    position: absolute;
    right: 0;
    top: 0;
    width: 280px;
    .side-header {
      margin-top: 40px;
      h2 {
        color: #828E9E;
        font-weight: 400;
        font-size: 18px;
      }
      hr {
        border:1px solid #CAD2DD;
      }
    }
    .customer {
      label {
        display:flex;
        align-items: center;
        cursor: pointer;
        input {
          margin-right: 10px;
          cursor: pointer;
        }
      }
    }
    .btn {
      margin-top: 20px;
    }
  }
}

.account-view {
  .react-tabs .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected {
    color: #5CB6B5;
  }
  .map {
    height: 285px;
    width: 100%;
  }
  .tab-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    .btn {
      background-image: linear-gradient(90deg, #6BE1A7 0%, #5CB6B5 100%);
    }
  }
  .panel {
    width: 100%;
    .panel-body {
      tr {
        background-color: #F6F8FA;
        border-bottom: 1px solid #dfe4ea;
        td {
          padding: 15px;
          a {
            color: black;
          }
        }
        &:nth-child(even) {
          background-color: #fff;
        }
      }
    }
  }
}

.new-employee-view {
  .react-tabs .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected {
    color: #6BE1A7;
  }
}

.new-job-view {
  .react-tabs .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected {
    color: #DF6B68;
  }
  .date-picker-group {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    .pickers {
      > div {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0px;
        }
        label {
          margin-right: 15px;
          width: 40px;
        }
        input {
          margin-bottom: 0px;
          width: 190px;
        }
      }
    }
    .time-range {
      color: #747f91;
      .bordered-group {
        display: inline-block;
        vertical-align: middle;
        border: 1px dotted #cad1db;
        border-left: 0;
        min-width: 40px;
        min-height: 44px;
        margin-right: 10px;
      }
    }
  }
  .panel {
    .panel-body {
      background-color: white;
      padding: 20px;
      .Select-control {
        margin-bottom: 0px;
        .Select-value, .Select-placeholder {
          display: flex;
          align-items: center;
        }
        .Select-multi-value-wrapper {
          display: flex;
          height: 100%;
          align-items: center;
        }
      }
      .tags {
        .Select-value {
          margin-top: 0px;
          height: 50%;
        }
      }
    }
  }
  .map {
    background-color: grey;
    width: 100%;
    height: 250px;
  }
}


.Popover { z-index: 4;}
.details-popover {
  background-color: white;
  box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  z-index: 9000;
  width: 270px;
  .popover-header {
    background-color:#3A414D;
    color: white;
    padding: 10px 10px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
  ul {
    padding: 0px;
    margin: 0px;
    li {
      list-style: none;
      padding: 10px 10px;
      border-bottom: 1px solid#efefef;
      display: flex;
      align-items: baseline;
      img {
        margin-right: 10px;
      }
      .stack {
        span {
          display: block;
          &:nth-child(2) {
            margin-bottom: 4px;
          }
          &:nth-child(3) {
            font-weight: bold;
          }
        }
      }
    }
  }
  .details {
    padding: 10px 10px;
    a {
      color: #2CA4DB;
    }
  }
  .map {
    height: 80px;
  }
}

.new-note-view {
  .page-header {
    height: 40px;
  }
  .page-body {
    background-color: #F5F6FA;
    height: calc(100% - 85px);
  }
  .note {
    margin: 0px auto;
    width: 60%;
    padding-top: 60px;
    textarea {
      resize: none;
      height: 200px;
    }
    .control-area {
      display: flex;
      justify-content: flex-end;
      button {
        &:first-child {
          margin-right: 20px;
        }
      }
    }
  }
}


.invoice-view {
  .invoice-list-wrapper {
    padding: 0px 20px;
  }
  .invoice-btn {
    background-image: linear-gradient(90deg, #7087D7 0%, #4CC2F0 100%);
  }
  .panel {
    width: 100%;
    .header {
      th {
        &:nth-child(1) {
          width: 1%;
        }
      }
    }
    .panel-body {
      tr {
        background-color: #F6F8FA;
        border-bottom: 1px solid #dfe4ea;
        td {
          padding: 15px;
          a {
            color: black;
          }
        }
        &:nth-child(even) {
          background-color: #fff;
        }
      }
    }
  }
}


.map-search {
  position: relative;
  height: 100%;
  width: 100%;
  .location-search-input {
    position: absolute;
    top: 10px;
    z-index: 1;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .autocomplete-dropdown-container {
    position: absolute;
    top: 50px;
    z-index: 1;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }
  .suggestion-item {
    display: block;
    padding: 10px 20px;
  }
}