p, h1,h2,h3,h4,h5,h6 {
  margin: 0px;
}

html,body {
  height: 100%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0px;
}

.side-nav {
  height: 100vh;
  width: 200px;
  background-color: #414A57;
  padding-top: 20px;
  padding-left: 20px;
  .logo {
    display: flex;
    margin-bottom: 60px;
    img {
      margin-right: 15px;
    }
    h2 {
      font-size: 20px;
      color: white;
    }
  }

  .nav-items {
    ul {
      list-style: none;
      li {
        margin-bottom: 40px;
        a {
          color: white;
        }
      } 
    }
  }
}