html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

p, h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

html, body {
  height: 100%; }

body {
  font-family: 'Lato', sans-serif;
  margin: 0px; }

button {
  cursor: pointer; }

.btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-bottom: 0px;
  background-image: linear-gradient(90deg, #DF6B68 0%, #7D3884 100%);
  font-size: 14px;
  color: white;
  height: 30px;
  min-width: 106px;
  border: none;
  border-radius: 4px; }
  .btn img {
    width: 11px;
    align-items: center;
    margin-right: 8px;
    margin-left: 3px; }
  .btn:hover {
    transition: box-shadow 0.3s ease;
    box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.25); }

.btn-success {
  border: 1px solid #4bc074;
  transition: background-color 0.3s ease; }
  .btn-success:hover {
    background-color: #4bc074;
    color: white; }

.second-btn {
  background-image: none;
  color: #333;
  font-weight: 500; }
  .second-btn:hover {
    box-shadow: none; }

.panel {
  border-collapse: collapse; }
  .panel .header {
    width: 100%;
    background-color: #E2E8EC;
    display: flex;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 0px; }
    .panel .header h2 {
      color: #90969D;
      margin: 0px 10px;
      font-size: 14px; }
  .panel .panel-body {
    border: 1px solid #eaeded;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top: 0px; }

.main-content {
  display: flex; }

.page-view {
  width: calc(100% - 200px);
  box-shadow: 0px 0px 37px 1px rgba(0, 0, 0, 0.35); }

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 25px; }
  .page-header h1 {
    font-size: 24px;
    margin-left: 20px; }
  .page-header .btn {
    margin-right: 20px; }

.side-nav {
  width: 200px;
  background-color: #414A57;
  padding-top: 25px;
  height: calc(100vh - 25px); }
  .side-nav .logo {
    display: flex;
    margin-bottom: 30px;
    padding-left: 15px; }
    .side-nav .logo img {
      margin-right: 15px; }
    .side-nav .logo h2 {
      font-size: 18px;
      color: white; }
  .side-nav .nav-items ul {
    list-style: none;
    padding: 0px; }
    .side-nav .nav-items ul li {
      position: relative; }
      .side-nav .nav-items ul li img {
        margin-right: 25px; }
      .side-nav .nav-items ul li a {
        display: flex;
        color: white;
        align-items: center;
        padding-left: 15px;
        height: 52px;
        border-width: 6px;
        border-style: solid;
        border-right: none;
        border-top: none;
        border-bottom: none;
        border-color: transparent;
        transition: background-color 0.2s ease; }
        .side-nav .nav-items ul li a span {
          position: absolute;
          left: 51px; }
        .side-nav .nav-items ul li a:hover {
          background-color: #394251; }
        .side-nav .nav-items ul li a.active {
          background-color: #2D3440; }
      .side-nav .nav-items ul li:nth-child(1) a.active {
        border-image: linear-gradient(to bottom, #7D3884, #DF6B68) 1 100%; }
      .side-nav .nav-items ul li:nth-child(2) a.active {
        border-image: linear-gradient(to bottom, #1EE7DD, #61A0C5) 1 100%; }
      .side-nav .nav-items ul li:nth-child(3) a.active {
        border-image: linear-gradient(to bottom, #FE6AAC, #FE8812) 1 100%; }
      .side-nav .nav-items ul li:nth-child(4) a.active {
        border-image: linear-gradient(to bottom, #7087D7, #4CC2F0) 1 100%; }
      .side-nav .nav-items ul li:nth-child(5) a.active {
        border-image: linear-gradient(to bottom, #FA7497, #FFD845) 1 100%; }
      .side-nav .nav-items ul li:nth-child(6) a.active {
        border-image: linear-gradient(to bottom, #6BE1A7, #5CB6B5) 1 100%; }

.schedule-view {
  display: flex; }

.calendar-wrapper {
  width: 100%;
  padding: 0px 15px 0px 15px; }
  .calendar-wrapper .calendar {
    height: 100vh;
    width: 100%; }
    .calendar-wrapper .calendar .calendar-toolbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
      padding-bottom: 20px; }
      .calendar-wrapper .calendar .calendar-toolbar .month-area {
        display: flex;
        align-items: flex-end; }
        .calendar-wrapper .calendar .calendar-toolbar .month-area button {
          background-color: transparent;
          border-radius: 3px;
          box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.19);
          border: none;
          height: 20px; }
          .calendar-wrapper .calendar .calendar-toolbar .month-area button:hover {
            transition: box-shadow 0.1s ease;
            box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.22); }
          .calendar-wrapper .calendar .calendar-toolbar .month-area button img {
            padding-top: 2px;
            width: 6px; }
          .calendar-wrapper .calendar .calendar-toolbar .month-area button:first-child img {
            transform: translateX(-13%) translateY(13%) rotate(-180deg); }
        .calendar-wrapper .calendar .calendar-toolbar .month-area .month-label {
          display: block;
          padding: 0 20px;
          min-width: 121px;
          font-size: 18px; }
      .calendar-wrapper .calendar .calendar-toolbar .view-area {
        display: flex; }
        .calendar-wrapper .calendar .calendar-toolbar .view-area button {
          border: 2px solid #DADEE3;
          color: #DADEE3;
          height: 30px;
          font-size: 14px;
          background-color: white; }
        .calendar-wrapper .calendar .calendar-toolbar .view-area .view-switcher {
          display: flex;
          margin-right: 20px;
          transition: box-shadow 0.3s ease; }
          .calendar-wrapper .calendar .calendar-toolbar .view-area .view-switcher:hover {
            box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.12);
            border-radius: 4px; }
          .calendar-wrapper .calendar .calendar-toolbar .view-area .view-switcher button {
            min-width: 70px; }
            .calendar-wrapper .calendar .calendar-toolbar .view-area .view-switcher button:first-child {
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
              border-right: none; }
            .calendar-wrapper .calendar .calendar-toolbar .view-area .view-switcher button:last-child {
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
              border-left: none; }
        .calendar-wrapper .calendar .calendar-toolbar .view-area .reset-day {
          border-radius: 4px;
          min-width: 80px; }
          .calendar-wrapper .calendar .calendar-toolbar .view-area .reset-day:hover {
            transition: box-shadow 0.3s ease;
            box-shadow: 0px 0px 19px 1px rgba(0, 0, 0, 0.12);
            border-radius: 4px; }
      .calendar-wrapper .calendar .calendar-toolbar .rbc-active {
        background-color: #DADEE3 !important;
        color: white !important; }
    .calendar-wrapper .calendar .rbc-today {
      background-color: #de6a671c; }
    .calendar-wrapper .calendar .rbc-month-view {
      border-top: none;
      border-left: none;
      border-right: none; }
      .calendar-wrapper .calendar .rbc-month-view .rbc-header {
        border: none;
        margin-bottom: 10px; }
      .calendar-wrapper .calendar .rbc-month-view .rbc-header + .rbc-header {
        border-left: none; }
      .calendar-wrapper .calendar .rbc-month-view .rbc-day-bg:first-child {
        border-left: 1px solid #DDD; }
      .calendar-wrapper .calendar .rbc-month-view .rbc-day-bg:last-child {
        border-right: 1px solid #DDD; }
      .calendar-wrapper .calendar .rbc-month-view .rbc-month-row:nth-child(2) {
        border-top: 1px solid #DDD; }

.side-area {
  width: 310px;
  background-color: #F5F6FA;
  height: 100vh;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.17); }

.side-calendar .side-header {
  padding-top: 21px;
  margin-bottom: 20px; }

.side-calendar .job-btn {
  background-image: linear-gradient(90deg, #DF6B68 0%, #7D3884 100%); }

.react-datepicker {
  background-color: #f3f5f9;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px; }
  .react-datepicker.in-line {
    background-color: transparent;
    box-shadow: none;
    border: none; }
  .react-datepicker .react-datepicker__navigation {
    background-image: url("./images/grey-chevron.svg");
    background-size: 5.75px 10.75px;
    width: 5.75px;
    height: 10.75px;
    border: none;
    margin-right: 40px; }
    .react-datepicker .react-datepicker__navigation.react-datepicker__navigation--previous {
      transform: translateX(-13%) translateY(13%) rotate(-180deg);
      margin-left: 40px; }
  .react-datepicker .react-datepicker__header {
    background-color: transparent; }
  .react-datepicker .react-datepicker__month .react-datepicker__week:nth-child(even) {
    background-color: #edeff5;
    border-radius: 36px; }

.notes-view .notes-btn {
  background-image: linear-gradient(90deg, #1EE7DD 0%, #61A0C5 100%); }

.notes-view .notes-list-wrapper {
  padding: 0px 20px; }

.notes-view .notes-list .header h2:first-child {
  width: 80%; }

.notes-view .notes-list .sort-group .month-group {
  background-color: #C9D1DA;
  padding-top: 4px;
  padding-bottom: 5px; }
  .notes-view .notes-list .sort-group .month-group span {
    display: block;
    margin-left: 10px;
    color: white; }

.notes-view .notes-list .sort-group .group-body .note {
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #c5c7c8; }
  .notes-view .notes-list .sort-group .group-body .note:hover {
    background-color: #F6F8FA; }
  .notes-view .notes-list .sort-group .group-body .note:last-child {
    border-bottom: none; }
  .notes-view .notes-list .sort-group .group-body .note .note-left {
    width: 80%;
    margin: 0px 10px;
    display: flex;
    justify-content: space-between; }
    .notes-view .notes-list .sort-group .group-body .note .note-left .note-text {
      margin-right: 20px; }
    .notes-view .notes-list .sort-group .group-body .note .note-left .note-title {
      font-weight: bold;
      margin-bottom: 10px; }
  .notes-view .notes-list .sort-group .group-body .note .note-right .note-created {
    margin-left: 10px; }

.notes-view .notes-list .sort-group .group-body .note-img {
  margin-right: 30px; }
  .notes-view .notes-list .sort-group .group-body .note-img img {
    width: 100px;
    height: 100px; }

.react-tabs .react-tabs__tab-list {
  border-color: #E1E3E7;
  margin: 0px; }
  .react-tabs .react-tabs__tab-list .react-tabs__tab {
    margin-right: 10px;
    height: 44px;
    padding-top: 9px; }
    .react-tabs .react-tabs__tab-list .react-tabs__tab:first-child {
      margin-left: 20px; }
    .react-tabs .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected {
      border-color: #E1E3E7;
      background-color: #F5F6FA;
      color: #FE8812; }

.react-tabs .react-tabs__tab-panel--selected {
  display: block;
  background-color: #F5F6FA;
  height: calc(100vh - 161px);
  padding: 20px 30px; }

.react-tabs.alt .react-tabs__tab-list .react-tabs__tab:focus:after {
  content: none; }

.react-tabs.alt .react-tabs__tab-list .react-tabs__tab:focus {
  box-shadow: none; }

.react-tabs.alt .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected {
  border: none;
  border-bottom: 3px solid; }

.customers-view .page-body {
  position: relative; }

.customers-view .customer-btn {
  position: absolute;
  right: 20px;
  top: 2px; }

.customers-view form {
  max-width: 1080px; }

.customers-view .map {
  height: 285px;
  width: 100%; }

label {
  display: block;
  margin-bottom: 6px;
  color: #747f91;
  font-size: 14px;
  font-weight: bold; }

form input, form select, form .Select-control {
  height: 46px;
  padding: 10px 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 18px;
  width: 100%;
  margin-bottom: 15px; }
  form input[disabled], form select[disabled], form .Select-control[disabled] {
    background-color: #eee;
    cursor: not-allowed; }

form .Select-control {
  height: 46px;
  padding: 0px !important; }
  form .Select-control .Select-input {
    height: 0px; }
    form .Select-control .Select-input input {
      height: 0px; }

form .input-group {
  margin-bottom: 15px; }

form .row {
  display: flex; }

form .col-1 input {
  display: block;
  margin-bottom: 15px; }

form .col-2 {
  display: flex;
  align-items: flex-end; }
  form .col-2 > div:first-child {
    margin-right: 20px;
    width: 50%; }
  form .col-2 > div:last-child {
    width: 50%; }

form .col-80 > div:first-child {
  margin-right: 20px;
  width: 80%; }

form .with-map {
  align-items: end; }

form .react-datepicker {
  margin-top: -23px; }
  form .react-datepicker .react-datepicker__triangle {
    display: none; }

.invoice-view label {
  font-size: 14px;
  color: #333; }

.invoice-view input, .invoice-view select, .invoice-view .Select-control {
  height: 34px;
  font-size: 14px;
  padding-top: 9px;
  padding-left: 9px; }

.invoice-view .page-header {
  height: 68px; }
  .invoice-view .page-header h1 {
    font-size: 36px;
    margin-left: 40px; }
  .invoice-view .page-header .btn {
    margin-right: 40px; }

.invoice-view .page-body {
  background-color: #F5F6FA;
  height: calc(100% - 75px); }

.invoice-view .invoice-header {
  padding: 40px;
  display: flex;
  justify-content: space-between; }

.invoice-view .invoice-header-inputs {
  width: 60%; }
  .invoice-view .invoice-header-inputs .invoice-meta {
    display: flex; }
    .invoice-view .invoice-header-inputs .invoice-meta > div {
      margin-right: 10px; }
      .invoice-view .invoice-header-inputs .invoice-meta > div:last-child {
        margin-right: 0px; }

.invoice-view .invoice-total label {
  text-align: right; }

.invoice-view .invoice-total h2 {
  font-size: 36px;
  color: #4CC2F0; }

.invoice-view .react-tabs.alt .react-tabs__tab-list {
  height: 37px; }
  .invoice-view .react-tabs.alt .react-tabs__tab-list .react-tabs__tab.react-tabs__tab--selected {
    color: #4CC2F0;
    height: 35px; }

.invoice-view .panel {
  width: 100%;
  margin-bottom: 40px; }
  .invoice-view .panel .header {
    display: table-row; }
    .invoice-view .panel .header h2 {
      margin: 0px; }
    .invoice-view .panel .header th {
      text-align: left;
      padding: 6px 6px 6px 14px; }
      .invoice-view .panel .header th:first-child {
        border-top-left-radius: 4px; }
      .invoice-view .panel .header th:last-child {
        border-top-right-radius: 4px; }
  .invoice-view .panel .line-item {
    height: 54px;
    background-color: #fafafa;
    border-bottom: 1px solid #dfe4ea; }
    .invoice-view .panel .line-item input {
      height: 34px;
      font-size: 14px;
      padding-top: 0px;
      border: 1px solid #ccc;
      border-radius: 6px;
      width: 100%;
      box-sizing: border-box;
      padding-right: 9px; }
    .invoice-view .panel .line-item .Select {
      height: 34px; }
      .invoice-view .panel .line-item .Select .Select-control {
        height: 34px;
        padding-top: 0px; }
        .invoice-view .panel .line-item .Select .Select-control .Select-input {
          height: 30px; }
          .invoice-view .panel .line-item .Select .Select-control .Select-input input {
            height: 0px;
            border: 0px; }
    .invoice-view .panel .line-item td:first-child {
      width: 30%; }
      .invoice-view .panel .line-item td:first-child input {
        border-radius: 0px; }
    .invoice-view .panel .line-item td:nth-child(n + 2) {
      width: 10%; }
      .invoice-view .panel .line-item td:nth-child(n + 2) input {
        text-align: right; }
    .invoice-view .panel .line-item .line-total {
      display: flex;
      justify-content: space-between;
      padding-right: 20px; }
      .invoice-view .panel .line-item .line-total img {
        cursor: pointer; }
  .invoice-view .panel td {
    vertical-align: middle;
    padding: 15px 10px; }
  .invoice-view .panel .new-line-item {
    background-color: white;
    color: #4CC2F0;
    font-size: 14px;
    cursor: pointer; }

.invoice-view .invoice-footer h5 {
  font-size: 14px;
  margin-bottom: 10px; }

.invoice-view textarea {
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 150px;
  width: 50%; }

.map-view {
  position: relative; }
  .map-view .map {
    height: 100vh;
    width: 100%; }
  .map-view .side-area {
    position: absolute;
    right: 0;
    top: 0; }
    .map-view .side-area .side-header {
      margin-top: 40px; }
      .map-view .side-area .side-header h2 {
        color: #828E9E;
        font-weight: 400;
        font-size: 18px; }
      .map-view .side-area .side-header hr {
        border: 1px solid #CAD2DD; }
    .map-view .side-area .customer label {
      display: flex;
      align-items: center; }
      .map-view .side-area .customer label input {
        margin-right: 10px; }
    .map-view .side-area .btn {
      margin-top: 20px; }
